---
layout: default
---
<header>
  <h1>{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
  {% if site.logo %}
  <img src="/assets/img/EricNeiva.webp"
       srcset="/assets/img/EricNeiva-tiny.webp 128w,
               /assets/img/EricNeiva-small.webp 256w,
               /assets/img/EricNeiva.webp 512w"
       alt="Near the summit of Mount Bishop, VIC, Oz" 
       style="width:330px; height:330px; max-width:33vw; max-height:33vw; border-radius:30px;"
  />
  {% endif %}
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}