---
layout: default
---
<header>
  <h1>{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
  {% if site.logo %}
  <img src="/assets/img/EricNeiva.jpeg"
       srcset="/assets/img/EricNeiva-small.jpg 256w,
               /assets/img/EricNeiva.jpeg 512w"
       alt="Near the summit of Mount Bishop, VIC, Oz" 
       style="width:33vw; height:auto; max-width:330px; border-radius:30px;"
  />
  {% endif %}
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}